body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Apply custom scrollbar styles */
body::-webkit-scrollbar {
  width: 0px;
  /* Set scrollbar width */
}

body::-webkit-scrollbar-track {
  background: transparent;
  /* Transparent background for track */
}



/* Apply styles for Firefox */
html {
  scrollbar-width: 0px;
  /* Thin scrollbar */

}

html::-webkit-scrollbar {
  width: 0px;
}

html::-webkit-scrollbar-track {
  background: transparent;
  /* Transparent background for track */
}


/* Apply styles for Firefox */
html {
  scrollbar-width: 0px;
  /* Thin scrollbar */
  scrollbar-color: linear-gradient(to bottom, blue, purple) transparent;
}

/* Apply border-top to the table */
.dt-container {
  /* border-top: 2px solid rgb(96 165 250 ); Top border color */
  border-radius: 5px;
}


/* Style the table rows */
table.dataTable tbody tr {
  /* background-color: #F0F0F0FF; */
  /* Gray background for odd rows (e.g., gray-200) */
  font-size: 14px;
}

/* Style even rows */
table.dataTable tbody tr:nth-child(even) {
  background-color: white;
  /* White background for even rows */
}

/* Minimize padding inside table cells */
table.dataTable td,
table.dataTable th {
  padding: 2px 4px;
  /* Reduce the padding to minimize the row height */
}

table.dataTable>tbody>tr>th,
table.dataTable>tbody>tr>td {
  padding: 3px 4px;
  text-align: left;
  font-size: 14px;
}

/* Optional: Hover effect on rows */
table.dataTable tbody tr:hover {
  background-color: #F3F3F3FF;
  /* Light blue on hover for better interactivity */
}

/* Style the 'entries per page' and 'Search' container */
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_filter {
  background-color: #f1f5f9;
  /* Light gray background */
  padding: 8px 12px;
  /* Padding for spacing */
  border-radius: 5px;
  /* Optional: Rounded corners */
  margin-bottom: 10px;
  /* Optional: Space below the container */
}

/* Style the 'Search' input box */
.dataTables_wrapper .dataTables_filter input {
  padding: 6px 10px;
  /* Padding inside the input */
  font-size: 14px;
  /* Font size */
  border-radius: 4px;
  /* Rounded corners for the input */
  border: 1px solid #ccc;
  /* Border color for the input */
}

/* Style the 'entries per page' dropdown */
.dataTables_wrapper .dataTables_length select {
  padding: 6px 10px;
  /* Padding inside the select dropdown */
  font-size: 14px;
  /* Font size */
  border-radius: 4px;
  /* Rounded corners for the dropdown */
  border: 1px solid #ccc;
  /* Border color for the select */
}

.colorr {
  /* color: #991b1b; */
  color: #4b565f;
}

.colorr:hover {
  color: #991b1b;
}

table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
  text-align: left;
}

table.dataTable th.dt-type-numeric {
  text-align: center;
}

.dropdownmenu {
  border-bottom: 1px solid #eff0e7;
  font-size: 14px;
  padding: 10px;
  color: #777;
  text-align: left;
  border-radius: 5px;
}

.dropdownmenu:hover {
  background-color: #dddddd;
  color: #444;
}

a.active {
  background-color: #3d8dbc !important;
  color: white !important;
}

table.dataTable>tbody>tr>th,
table.dataTable>tbody>tr>td {
  padding: 7px 10px;
  text-align: left;
  font-size: 12px;
  text-align: left !important;
}

.dt-container .dt-info {
  color: #707070 !important;
  font-size: 12px;
  font-weight: 700;
  margin-left: 15px;
}

div.dt-container .dt-paging .dt-paging-button.current {
  color: #fff !important;
}

div.dt-container .dt-paging .dt-paging-button:hover {
  background-color: #fff !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #fff));
  border: 1px solid #fff !important;
  color: #f39c12 !important;
  text-decoration: underline !important;
}

div.dt-container .dt-paging .dt-paging-button {
  padding: 0 .5em;
  font-size: 13px;
}

.dt-paging {
  margin: 0 15px 0 0 !important;
}

.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover {
  background: #f39c12 !important;
  border: none !important;
  color: #fff !important;
}

.dt-container .dt-input {
  outline: none;
}

select.dt-input {
  font-size: 12px;
  height: 25px;
  padding: 0 !important;
}

.dt-length select {
  margin-right: .7rem;
}

.dt-container .dt-search input {
  height: 27px;
}

div.dt-container div.dt-length label {
  font-size: 14px;
}

table.dataTable>thead>tr>th {
  font-size: 14px;
  font-weight: 500;
  color: #212529;
  padding: 10px;
}

.dt-container div.dt-search label {
  font-size: 14px;
}

.aql .form-control {
  height: 27px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  border-radius: 4px;
}

.aql button {
  height: 25px;
  font-size: 10px;
  padding: 8px 7px;
  border-radius: 4px;
}

.ss .form-control {
  line-height: 15px !important;
  color: #586068 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #212529 !important;
  line-height: 22px !important;
  font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #586068 !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #b8b8b8 !important;
  height: 27px !important;
}

.dataTable thead {
  background-color: #c4e1f6;
  color: #1b476b;
}

.dataTable td,
.dataTable th {
  border: 1px solid #e6e6e6;
}

.pnav {
  padding: 0 4rem;
}

.sobut button {
  font-size: 10px;
  width: max-content;
  background: darkgray;
  color: #fff;
  padding: 4px 7px;
  background-color: #ad2020;
}

.sobut button svg {
  display: inline-block;
}

.sobut {
  margin-top: 18px;
  margin-right: -2px;
}

.n-dp-dn .sobut:before {
  right: -27px !important;
}

.sobut:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #f3f4f6;
  position: absolute;
  top: -12px;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
}

.scrollscope {
  width: auto;
  height: 54px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* scrollbar-width: thin; */
}

.vd {
  background-color: #00c0ef;
}

.vd:hover {
  background-color: #06a7cf;
}

.dt {
  padding: 20px 20px 20px 30px;
}

.table-scrollable table.dataTable tbody tr {
  max-height: 550px;
  overflow-y: auto;
  padding-right: 10px;
}

.select2-results__option {
  font-size: 12px;
}

.dataTable thead {
  background-color: #c4e1f6;
  color: #1b476b;
  position: sticky;
  width: 100%;
  top: 0;
}

.dt-layout-cell.dt-layout-full {
  min-height: auto;
  height: 67.5vh;
  overflow-y: scroll;
}


.qss span {
  padding: 4px 7px !important;
  font-size: 12px;
}

.mllt {
  margin-left: 15px;
}

.mlr {
  margin: 10px 50px;
}

.modal-footer button {
  padding: 4px 7px;
  font-size: 12px;
}

.direct-chat-msg {
  margin-bottom: 17px !important;
}

.direct-chat-text {
  padding: 10px 10px;
  background-color: #fff;
  font-size: 12px;
}

.chatsbut {
  padding: 4px 7px;
  font-size: 12px;
  background-color: #1b476b;
  border-radius: 4px;
}

.chatsbut:hover {
  background-color: #27679b;
}

.chats {
  border: 1px solid #efefef;
  border-radius: 7px;
  background-color: #e9f7ff;
}

.box-body .form-group{
margin-bottom:10px;
}

.gree{
  background-color:#198754;
}

.gree:hover{
  background-color:#2ab373;
}

.assi input{
  background-color: #1b476b;
  padding: 4px 7px;
  font-size: 12px;
  margin-top: 10px;
  color: #fff;
}

.assi input:hover{
  background-color: #27679b;
  color: #fff;
}

.greens input{
  background-color: #198754;
  padding: 4px 7px;
  font-size: 12px;
  margin-top: 10px;
  color: #fff;
}

.greens input:hover{
  background-color: #2ab373;
  color: #fff;
}

.tabb ul {
  padding: 10px;
}

.tabb .form-control {
  border-radius: 5px;
  font-size: 12px;
}

/* .tabb ul li a{
  background-color: #0073b7 !important;
  color: #fff !important;
  font-size: 12px;
} */

.nav-tabs-custom>.nav-tabs>li>a {
  padding: 4px 5px !important; 
  border-radius: 4px;
  color: #fff !important;
  font-size: 12px;
}

.nav-tabs-custom>.nav-tabs>li:not(.active){
  background-color: #003b5e !important;
  color: #fff !important;
  border-radius: 5px;
  /* padding: 4px 5px !important;  */
}

.cir:hover{
border: 1px solid #efefef;
border-radius: 50px;
}
.ql-editor {
  height: 120px !important;
}
th{
  z-index:5 !important;
}

/* Add this to your CSS file */
.form-wrapper {
  position: relative;
}

.form-wrapper.loading {
  filter: blur(4px);
}

.form-wrapper.loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5); /* Light overlay */
  z-index: 1;
}


.gold {
  font-size: 15px;
  text-transform: uppercase;
  line-height:1;
  text-align: center;
  background: linear-gradient(90deg, rgba(186,148,62,1) 0%, rgba(236,172,32,1) 20%, rgba(186,148,62,1) 39%, rgba(249,244,180,1) 50%, rgba(186,148,62,1) 60%, rgba(236,172,32,1) 80%, rgba(186,148,62,1) 100%);
  animation: shine 3s infinite;
  background-size: 200%;
  background-position: left;

}
@keyframes shine_old {
  to{background-position: right}
 
}

.silver {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  background: linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(211,211,211,1) 20%, rgba(192,192,192,1) 39%, rgba(245,245,245,1) 50%, rgba(192,192,192,1) 60%, rgba(211,211,211,1) 80%, rgba(192,192,192,1) 100%);
  animation: shine 3s infinite;
  background-size: 200%;
  background-position: left;
}

.ruby {
  font-size: 15px;
  text-transform: uppercase;
  line-height:1;
  text-align: center;
  background: linear-gradient(90deg, rgb(62, 171, 186) 0%, rgb(32, 195, 236) 20%, rgb(62, 140, 186) 39%, rgb(180, 249, 243) 50%, rgb(62, 171, 186) 60%, rgb(32, 205, 236) 80%, rgb(62, 161, 186) 100%);
  animation: shine 3s infinite;
  background-size: 200%;
  background-position: left;
}


















/* For webkit-based browsers (Chrome, Safari, Opera) */
input[type="number"].no-arrows::-webkit-outer-spin-button,
input[type="number"].no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"].no-arrows {
    -moz-appearance: textfield;
}

/* For Edge */
input[type="number"].no-arrows {
    appearance: none;
    -ms-appearance: none;
}





.select2-selection__clear {
  margin: 0px !important;
  float: unset !important;
  height: 0px !important;
  padding: 0px !important;
  position: absolute;
  top: 3px;
  right: 20px;
}
img.nav-logo {
  width: 30%;
}
.top-30 {
  top: 30px;
}
.f-14 {
  font-size: 14px !important;
}
.f-12{
  font-size: 12px !important;
}
.f-11{
  font-size: 11px !important;
}
.f-10 {
  font-size: 10px !important;
}
.w-h-2{
    width: 10px;
    height: 10px;
}
.tab-btn-n-set {
  font-size: 14px;
  font-weight: 700;
}
.white-space-nowrap {
  white-space: nowrap;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.ad-tab-inp .select2-selection__clear {
  position: absolute !important;
  right: 7px !important;
}
.ur-slet-tab-inp .select2-selection__clear {
  position: absolute !important;
  right: 20px !important;
}
.select2-container .select2-selection--single{
  height: 30px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 28px !important;
}
.react-datepicker-wrapper{
  width: 100%;
}
textarea.select2-search__field {
  line-height: 20px;
}



focus-outline-none:focus:not(:focus-visible) {
  outline: 0 !important;
}
.f-20 {
  font-size: 22px;
}
.f-18 {
  font-size: 18px;
}
.w-20{
  width: 20%;
}
.font-weight-500 {
  font-weight: 500;
}
.overscroll-modal {
  overflow-y: scroll;
  height: 75vh;
  overflow-x: hidden;
  padding: 15px;
  font-size: 12px;
}
.line-h-in{
  line-height: initial;
}
.peneditbtn{
  border: 2px solid #27679b;
  color: #27679b;
}
.select2-container {
  width: 100% !important;
}


.btn{
  box-shadow: none !important;
}









.detls-head-title {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding: 5px 20px;
}

.nw-1 {
  width: 10px;
}
.nh-1 {
  height: 10px;
}

/* Chat Container */
.chat-container {
  margin-bottom: 1rem;
  max-height: 14rem;
  overflow-y: auto;
  padding: 0.5rem 0.75rem;
}

/* Chat Message */
.chat-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.chat-message.right {
  align-items: flex-end;
}

/* Chat Info */
.chat-info {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 0.25rem;
}

.chat-name {
  font-weight: bold;
  color: #333;
  font-size: 13px;
}

.chat-timestamp {
  font-size: 11px;
  color: #666;
  margin-left: 0.5rem;
}

/* Chat Text */
.chat-text {
  max-width: 70%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #fafafa;
  position: relative;
  white-space: normal;
  overflow-wrap: break-word;
  font-size: 12px;
}

.chat-text.right {
  background-color: #bee9ff;
  color: #003b5e;
  border: 1px solid #003c5e67;
}

/* File Container */
.file-container {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: #05606e;
}

.file-container a {
  margin-left: 0.5rem;
  background: #05606e;
    color: white;
    padding: 5px;
    font-size: 15px;
    border-radius: 50%;
}

/* Reply Container */
.reply-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.reply-l-shape,
.reply-inverted-l-shape {
  width: 1rem;
  height: 55px;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  margin-bottom: -0.25rem;
}
.reply-l-shape{
  border-radius: 0px 0px 0px 11px;
}
.reply-inverted-l-shape {
  border-left: none;
  border-right: 2px solid #ccc;
  border-radius: 0px 0px 11px 0px;
}

.reply-message {
  background-color: #f9f9f9;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.reply-info {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.reply-name {
  font-weight: bold;
  font-size: 0.875rem;
  color: #333;
}

.reply-timestamp {
  font-size: 0.75rem;
  color: #666;
  margin-left: 0.5rem;
}

.reply-text {
  font-size: 0.875rem;
  color: #444;
}

/* Reply Button */
.reply-button {
  font-size: 0.75rem;
  background: #05606e;
  color: #fff;
  border-radius: 50%;
  padding: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 0.5rem;
}

/* Reply Box */
.reply-box {
  margin-top: 0.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.reply-box textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.reply-box button {
  background-color: #05606e;
  color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.reply-box button:hover {
  background-color: #034752;
}
.invertlstyle{
  display: flex;
  flex-direction: row-reverse;
}
.ptp-get-amt {
  background: #fff6df;
  padding: 15px;
}
.animate-shake {
  animation: shake 2.8s cubic-bezier(.36,.07,.19,.97) infinite;
}

@keyframes shake {
  0%, 71.43%, 100% {
    transform: translate3d(0, 0, 0);
  }
  
  3.57%, 32.14% {
    transform: translate3d(-1px, 0, 0);
  }
  
  7.14%, 28.57% {
    transform: translate3d(2px, 0, 0);
  }

  10.71%, 17.86%, 25% {
    transform: translate3d(-4px, 0, 0);
  }

  14.29%, 21.43% {
    transform: translate3d(4px, 0, 0);
  }
}



.mentions-input .mention {
  display: inline-flex;
  align-items: center;
  padding: 4px 6px;
  background-color: #CAE5FF;
  border-radius: 4px;
  line-height: normal;
}

.mentions-input__input{
  margin-top: -6px !important;
  border: none !important;

}
.mentions-input__input:focus{
  border: none !important;
}
.mentions-input__highlighter:focus{
  border: none !important;
}
.mentions-input__highlighter{
  border: none !important;
}
.mentions-input__highlighter{
  border: none !important;
}
.tenpx{
  font-size: 10px;
}
.elevenpx{
  font-size: 11px;
}

.n-py-1 {
  padding-top: 3px;
  padding-bottom: 1px;
}
.n-gap-3 {
  column-gap: 10px;
}